<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.b_bws_e41192303_rifjanjundila_mobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BBWSE41192303_RifjanJundila_Mobile">
        <activity android:name=".material_layout"></activity>
        <activity android:name=".horizontal_scrollview" />
        <activity android:name=".table" />
        <activity android:name=".scroll" />
        <activity android:name=".relative_layout" />
        <activity android:name=".message" />
        <activity android:name=".frame" />
        <activity android:name=".constraint_layout" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>